<div class="card">

  <div class="card-header bg-dark">
    <h3 class="card-title text-white">
      <i class="far fa-image"></i> Upload an Image
    </h3>
  </div>

  <div class="card-body">
    <form action="/vlargosimages" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon" required/>
            <label class="custom-file-label" for="inputGroupFile">Choose file</label>
          </div>
        </div>
      </div>
        <div class="form-group">
          <input type="text" name="product" class="form-control" placeholder="product" autofocus/>
        </div>
        <div class="form-group">
          <input type="text" name="color" class="form-control" placeholder="color" autofocus/>
        </div>
        <div class="form-group">
          <input type="text" name="talle" class="form-control" placeholder="talle" autofocus/>
        </div>
        <div class="form-group">
          <input type="number" name="price" class="form-control" placeholder="price" autofocus/>
        </div>
        
      
      <div class="form-group">
        <button class="btn btn-success">
          <i class="fa fa-upload"></i> Upload a product
        </button>
      </div>
    </form>
  </div>
</div>



<div class="container">
   <div class="row">
      <div class="col-md-12">
          <section class="products">
              <div class="section-title">
                 <h2>our products</h2>
              </div>
    
          <div class="products-center">
          <!-- single product -->
      {{#each vlargosclothes}}
          <article class="product">
       <div class="col-md-4 text-center">
        <a href="/vlargosimages/{{ filename  }}">
          <img src="/public/upload/{{filename}}" alt="{{title}}" class="w-100 h-100 img-thumbnail">
        </a>
      </div>
          <h3>{{ product }}</h3>
          <h4>${{ price }}</h4>
          <a href="/addtocard/{{_id}}" class="btn btn-success pull-right" role="button">Add</a>
        </article>
         {{/each}}
        <!-- end of single product -->
        
        </div>
        </section>
          </div>
        </div>
      </div>